<div >
    <form class="form">
        <br>
        <h1 class="display 3 tc">Usuario</h1>
        <br>
        <input type="text" class="form-control" placeholder="Nombre" disabled>
        <br>
        <input type="text" class="form-control" placeholder="Apellido" disabled>
        <br>
        <input type="email" class="form-control" placeholder="Email" required>
        <br>
        <input type="date" class="form-control" placeholder="Fecha de Nacimiento" disabled>
        <br>
        <input type="text" class="form-control" placeholder="Nombre de Usuario" required>
        <br>
        <input type="password" class="form-control" placeholder="Contraseña" required>
        <br>
        <input type="password" class="form-control" placeholder="Confirmar Contraseña" required>
        <br>
        <p>Dropdown</p>
        <button class="btn btn-lg btn-acept btn-block" type="submit">Guardar cambios</button>
    </form>
</div>