<div class="modal-dialog letra">
    <div class="modal-content">
        <div class="modal-header bg-pink">
            <h3 class="modal-title">Agregar Usuario</h3>
            <button type="button" class="btn btn-cancel" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <form class="form">
                <input type="text" class="form-control" placeholder="Nombre" required>
                <br>
                <input type="text" class="form-control" placeholder="Apellido" required>
                <br>
                <input type="email" class="form-control" placeholder="Email" required>
                <br>
                <input type="date" class="form-control" placeholder="Fecha de Nacimiento" required>
                <br>
                <input type="text" class="form-control" placeholder="Nombre de Usuario" required>
                <br>
                <input type="text" class="form-control" placeholder="Contraseña" required>
                <br>
                <div class="tcenter">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Usuario</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">Administrador</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer bg-pink">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-acept">Agregar</button>
        </div>
    </div>
</div>