<div class="container letra">
    <div class="jumbotron bg-pink">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <img src="../../../assets/images/logo.png" alt="SS" width="100%" height="100%">
            </div>
            <div class=" col-md-8 col-sm-8">
                <br>
                <h1 class="display-2 tc">Sweet Surprise</h1>
            </div>
            <div class="col-md-2 col-sm-2">
                <img src="../../../assets/images/logo.png" alt="SS" width="100%" height="100%">
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="../../../assets/images/facebook.png" alt="fc" width="100%" height="100%"></a>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="../../../assets/images/instagram.png" alt="ig" width="100%" height="100%"></a>
            </div>
            <div class="col-md-4">
                <a href="#"><img src="../../../assets/images/whatsapp.png" alt="ws" width="100%" height="100%"></a>
            </div>
            <div class="col-md-12">
                <br>
                <h1 class="tc">sweetsurprise@gmail.com</h1>
                <h1 class="tc">+58412-9216461</h1>
            </div>
        </div>
    </div>
</div>