<div>
    <form class="form">
        <br>
        <h1 class="h3 mb-3">Registrate</h1>
        <br>
        <input type="text" class="form-control" placeholder="Nombre" required>
        <br>
        <input type="text" class="form-control" placeholder="Apellido" required>
        <br>
        <input type="email" class="form-control" placeholder="Email" required>
        <br>
        <input type="date" class="form-control" placeholder="Fecha de Nacimiento" required>
        <br>
        <input type="text" class="form-control" placeholder="Nombre de Usuario" required>
        <br>
        <!--Pendiente el dropdeown de metodos de pago-->
        <br>
        <input type="password" class="form-control" placeholder="Contraseña" required>
        <br>
        <input type="password" class="form-control" placeholder="Confirmar Contraseña" required>
        <br>
        <button class="btn btn-lg btn-acept btn-block" type="submit">Aceptar</button>
    </form>
</div>