<div class="card shadow-sm card-product letra">
    <div>
        <img class="bd-placeholder-img card-img-top card-img" width="100%" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" src="{{cardProducto.img1}}" alt="">
    </div>
    <div class=" container">
        <div class="row">
            <br>
            <div class="col-sm-12">
                <h2>{{cardProducto.nombre}}</h2>
            </div>
            <div class="col-sm-6">
                <h5>{{cardProducto.categoria}}</h5>
            </div>
            <div class="col-sm-6 esq">
                <h1 class="">{{cardProducto.precio}}$</h1>
            </div>

        </div>
    </div>
</div>