<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-pink letra">
    <a class="navbar-brand" [routerLink]="['/']"><img src="../../../assets/images/ico.png" alt="ico" width="30" height="30"> Sweet Surprise</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/tienda']" routerLinkActive="router-link-active"> Tienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active"> Carrito</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active"> Conocenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active"> Contactanos</a>
            </li>
            <!--Aqui el ng if pendiente-->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Administrador</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Perfil</a>
            </li>
        </ul>
    </div>
</nav>