<table class="table table-pink table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <!--ng for aqui-->
        <tr>
            <th scope="row">Desconocido xd</th>
            <td>M%M</td>
            <td>Chocolate</td>
            <td><span><button class="btn btn-cancel btn-sm container-fluid"><svg width="1em"
            height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fillRule="evenodd"
            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
            <path fillRule="evenodd"
            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
            </svg></button></span></td>
        </tr>
    </tbody>
</table>