<table class="table table-pink table-responsive-sm table-responsive-md table-responsive-lg table-bordered">
    <thead>
        <tr>
            <th scope="col">Fabricante</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <div *ngFor="let producto of productos[0].Productos">
            <tr>
                <td>{{producto.fabricante}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.categoria}} </td>

            </tr>

        </div>
    </tbody>
</table>