<div class="container letra">
    <div class="jumbotron bg-pink bor">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <form class="form">
                    <h3 class="display-3 txt">Datos de Compra</h3>
                    <br><br>
                    <h3 class="display-5">Seleccione su metodo de envio</h3>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text ador-form"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="bi bi-box-seam" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                            </svg></div>
                        </div>
                        <select class="form-control">
                            <option>Delivery</option>
                            <option>PickUp</option>
                        </select>
                    </div>
                    <br><br>
                    <h3 class="display-5">Seleccione su metodo de pago</h3>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text ador-form"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
                                <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
                                <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                              </svg></div>
                        </div>
                        <select class="form-control">
                            <option>Efectivo</option>
                            <option>Transferencia</option>
                            <option>PayPal</option>
                        </select>
                    </div>
                    <br><br><br>
                    <button type="submit" class="btn container-fluid btn-lg btn-acept">Comprar</button>
                </form>
            </div>
        </div>
    </div>
</div>