<div class="container ">
    <div class="row">
        <div class="letra container-fluid">
            <form class="form-inline centeno mt-2 mt-md-0">
              <input class="form-control mr-sm-2 boost-pink" type="text" aria-label="Search">
              <div class="btn-group">
                <button type="button" class="btn btn-acept">Buscar</button>
                <button type="button" class="btn btn-acept dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item">Nombre</a>
                  <a class="dropdown-item">Categoria</a>
                  <a class="dropdown-item">Costo</a>
                </div>
              </div>
            </form>
          </div> 
    </div>
</div>
<br>
<app-listcardproduct [productos]="productos"></app-listcardproduct>
