<div class="container letra">
    <div class="row">
        <div class="col-md-12 ">
            <div class="btn-group-lg toggle sep" role="group">
                <button class="btn btn-reg btn-lg col-md-12" type="button" data-toggle="collapse" data-target="#OpList" aria-expanded="false" aria-controls="OpList">
                    Registro
                </button>
            </div>
        </div>
        <br>
        <div class="col-md-12 col-sm-12 collapse" id="OpList">
            <br>
            <table class="table table-pink table-responsive-sm table-responsive-md table-responsive-lg table-bordered">
                <thead>
                    <tr >
                        <th scope="row">Id transaccion</th>
                        <td>Fecha</td>
                        <td>Monto</td>
                </thead>
                <tbody>
                    <!--En el de abajo tu ngFor y en los td le pasas las cosasa-->
                    <tr *ngFor="let order of orders">
                        <th scope="row">{{order.id}}</th>
                        <td>{{order.created_at}}</td>
                        <td>{{order.amount}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>