
<div class="jumbotron bg-rose letra">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 my-auto" id="jumbtitle">
                <h1 class="display-4">Bienvenidos a </h1>
                <h1 class="display-1">Sweet Surprise</h1>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="../../../assets/images/logo.png" alt="SS" width="100%" height="100%">
            </div>
        </div>
        <hr>
        <div class="container">
            <app-homecarrusel></app-homecarrusel>
        </div>
    </div>
</div>