
<div class="jumbotron bg-rose">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <br>
                <h1 class="display-4">Bienvenidos a Sweet Surprise</h1>
                <br>
                <p class="lead">
                    Disfruta de tu estadia en esta dulce página.
                </p>
                <p class="lead">
                    Conoce nuestro catálogo de productos para llenarte de dulces sorpresas
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/logo.png" alt="SS" width="80%" height="85%">
            </div>
        </div>
        <hr>
        <div class="container">
            <app-homecarrusel></app-homecarrusel>
        </div>
    </div>
</div>