<div>
    <form class="form">
        <br>
        <h1 class="h3 mb-3 ">Iniciar sesión</h1>
        <br>
        <input type="usuario" class="form-control" placeholder="Usuario" required>
        <br>
        <input type="password" class="form-control" placeholder="Contraseña" required>
        <br>
        <button class="btn btn-lg btn-acept btn-block" type="submit">Ingresar</button>
        <br>
        <button class="btn btn-lg btn-reg btn-block" type="submit">Registrarse</button>
        <p class="mt-5 mb-3 tw text-muted bg-pink">&copy;2020</p>
    </form>
</div>