@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.letra{
    font-family: 'Fredoka One', cursive;
}
body{
    background-image: url("/assets/images/font.jpg");
    background-repeat: repeat;
}

main{
    margin-top: 70px;
}

.bg-pink{
    background-color: #ed1544;
    color: whitesmoke;
}

.btn-bord{
    border: 2px solid whitesmoke;
}
.btn-acept{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background-color: #008f39;
}
.btn-exit{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background-color: #cb3234;
}
.btn-reg{
    color:whitesmoke;
    border: 2px solid whitesmoke;
}