<div class="container letra">
    <div class="jumbotron bg-pink bor-der">
        <div class="row">
            <div class="col-md-6 bg-white bor-der">
                <br>
                <div class="col-md-12">

                    <app-carruseldetail [pict1]="infoProduc.img1" [pict2]="infoProduc.img2" [pict3]="infoProduc.img3">
                    </app-carruseldetail>
                </div>
                <br>
                <h1 class="ml-5 txt-black display-3">{{infoProduc.nombre}}</h1>
                <h1 class="ml-5 txt-black display-4">{{infoProduc.categoria}}</h1>
                <p class="ml-5 txt-black">{{infoProduc.descripcion}}</p>
                <h1 class="ml-5 txt-black display-6">{{infoProduc.fabricante}}</h1>
                <br>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text ador-form">Eliga una opcion abajo</div>
                    </div>

                </div>
                <br>
                <br>
                <br>
                <button class="btn btn-acept btn-block" (click)="AgregarCarrito(infoProduc)">Agregar al Carrito</button>
                <br>
                <br>
                <br>
                <button class="btn btn-acept btn-block" (click)="AgregarDeseos(infoProduc)">Agregar a la  Lista de deseos</button>
            </div>
        </div>
    </div>
</div>