<div class="container letra">
    <div class="jumbotron bg-pink">
        <div class="row">
            <br>
            <div class="col-md-6">
                <app-carruseldetail [pict1]="infoProduc.img1" [pict2]="infoProduc.img2" [pict3]="infoProduc.img3">
                </app-carruseldetail>
                <br>
            </div>
            <div class="col-md-6">
                <h1 class="ml-5 txt-black display-3">{{infoProduc.nombre}}</h1>
                <br>
                <h1 class="ml-5 txt-black display-4">{{infoProduc.categoria}}</h1>
                <br>
                <p class="ml-5 txt-black">{{infoProduc.descripcion}}</p>
                <br>
                <h1 class="ml-5 txt-black display-6">{{infoProduc.fabricante}}</h1>
                <br>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-acept btn-block" (click)="AgregarCarrito(infoProduc)">Agregar al
                Carrito</button>
            <button class="btn btn-acept btn-block" (click)="AgregarDeseos(infoProduc)">Agregar a la Lista de
                deseos</button>
        </div>
    </div>
</div>