<div class="row">
    <div class="col-md-6 ml-5 bg-white bor">
        <br>
        <app-carruseldetail [pict1]="infoProduc.img1" [pict2]="infoProduc.img2" [pict3]="infoProduc.img3"></app-carruseldetail>
        <br>
        <h1 class="ml-5 txt-black display-4">{{infoProduc.nombre}}</h1>
        <h1 class="ml-5 txt-black display-5">{{infoProduc.categoria}}</h1>
        <p class="ml-5 txt-black">{{infoProduc.descripcion}}</p>
        <p class="ml-5 txt-black ">{{infoProduc.fabricante}}</p>
        <br>
    </div>
    <div class="col-md-5 ">
        <!--Aqui va la bolsa--> 
    </div>
</div>